---
import Layout from "../layouts/Layout.astro";

---

<Layout>
	<picture id="container">
		<img
			id="frame0"
			src="/assets/frame_00.jpg"
			class="inset-0 w-full h-full object-cover z-10 fixed"
		/>
		<img
			id="frame1"
			src="/assets/frame_01.jpg"
			class="inset-0 w-full h-full object-cover z-20 opacity-0 mix-blend-normal fixed"
		/>
		<img
			id="frame2"
			src="/assets/frame_02.jpg"
			class="inset-0 w-full h-full object-cover z-30 opacity-0 mix-blend-normal fixed"
		/>
		<img
			id="frame3"
			src="/assets/frame_03.jpg"
			class="inset-0 w-full h-full object-cover z-40 opacity-0 mix-blend-normal fixed"
		/>
		<img
			id="frame4"
			src="/assets/frame_04.jpg"
			class="inset-0 w-full h-full object-cover z-50 opacity-0 mix-blend-normal fixed"
		/>
		<img
			id="frame5"
			src="/assets/frame_05.jpg"
			class="inset-0 w-full h-full object-cover z-60 opacity-0 mix-blend-normal fixed"
		/>
		<img
			id="frame6"
			src="/assets/frame_06.jpg"
			class="inset-0 w-full h-full object-cover z-70 opacity-0 mix-blend-normal fixed"
		/>
		<img
			id="frame7"
			src="/assets/frame_07.jpg"
			class="inset-0 w-full h-full object-cover z-80 opacity-0 mix-blend-normal fixed"
		/>
		<img
			id="frame8"
			src="/assets/frame_08.jpg"
			class="inset-0 w-full h-full object-cover z-90 opacity-0 mix-blend-normal fixed"
		/>
		<img
			id="frame9"
			src="/assets/frame_09.jpg"
			class="inset-0 w-full h-full object-cover z-100 opacity-0 mix-blend-normal fixed"
		/>
		<img
			id="frame10"
			src="/assets/frame_10.jpg"
			class="inset-0 w-full h-full object-cover z-110 opacity-0 mix-blend-normal fixed"
		/>
		<img
			id="frame11"
			src="/assets/frame_11.jpg"
			class="inset-0 w-full h-full object-cover z-120 opacity-0 mix-blend-normal fixed"
		/>
		<img
			id="frame12"
			src="/assets/frame_12.jpg"
			class="inset-0 w-full h-full object-cover z-130 opacity-0 mix-blend-normal fixed"
		/>
	</picture>

	<div id="overlay" class="inset-0 fixed z-140 bg-black opacity-0"></div>
	<div
		id="welcome"
		class="inset-0 w-[35%] h-full object-cover z-150  mix-blend-normal fixed ml-36"
	>
		<h1 style={{ fontSize: "70px",  marginTop: "100px", marginLeft: "52px", lineHeight: 1.2 }}>
			Guido Barandiaran
		</h1>
		<p style={{ fontSize: "26px", marginTop: "42px", marginLeft: "58px", lineHeight: 1.8 }}>
			La motivación de todo lo que hago es una sola: La música.
			<br />
			Desde muy chico había algo en el sonido que me cautivaba y es lo que
			me guía en mi camino, constantemente.
		</p>
	</div>
</Layout>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger);

	const tl = gsap.timeline({
		scrollTrigger: {
			start: "top top",
			end: "+=1000",
			scrub: true,
			pin: true,
			onUpdate: (self) => {
				console.log("Scroll progress:", self.progress.toFixed(3));
			},
		},
	});

	gsap.set("#welcome", { opacity: 0, y: 600 });

	tl.to("#frame1", { opacity: 1, duration: 0.2, ease: "power4.inOut" })
		.to("#frame0", { opacity: 0, duration: 0.2, ease: "power4.inOut" }, ">")

		.to("#frame2", { opacity: 1, duration: 0.2, ease: "power4.inOut" })
		.to("#frame1", { opacity: 0, duration: 0.2, ease: "power4.inOut" }, ">")

		.to("#frame3", { opacity: 1, duration: 0.2, ease: "power4.inOut" })
		.to("#frame2", { opacity: 0, duration: 0.2, ease: "power4.inOut" }, ">")

		.to("#frame4", { opacity: 1, duration: 0.2, ease: "power4.inOut" })
		.to("#frame3", { opacity: 0, duration: 0.2, ease: "power4.inOut" }, ">")

		.to("#frame5", { opacity: 1, duration: 0.2, ease: "power4.inOut" })
		.to("#frame4", { opacity: 0, duration: 0.2, ease: "power4.inOut" }, ">")

		.to("#frame6", { opacity: 1, duration: 0.2, ease: "power4.inOut" })
		.to("#frame5", { opacity: 0, duration: 0.2, ease: "power4.inOut" }, ">")

		.to("#frame7", { opacity: 1, duration: 0.2, ease: "power4.inOut" })
		.to("#frame6", { opacity: 0, duration: 0.2, ease: "power4.inOut" }, ">")

		.to("#frame8", { opacity: 1, duration: 0.2, ease: "power4.inOut" })
		.to("#frame7", { opacity: 0, duration: 0.2, ease: "power4.inOut" }, ">")

		.to("#frame9", { opacity: 1, duration: 0.2, ease: "power4.inOut" })
		.to("#frame8", { opacity: 0, duration: 0.2, ease: "power4.inOut" }, ">")

		.to("#frame10", { opacity: 1, duration: 0.2, ease: "power4.inOut" })
		.to("#frame9", { opacity: 0, duration: 0.2, ease: "power4.inOut" }, ">")

		.to("#frame11", { opacity: 1, duration: 0.2, ease: "power4.inOut" })
		.to(
			"#frame10",
			{ opacity: 0, duration: 0.2, ease: "power4.inOut" },
			">",
		)

		.to("#frame12", { opacity: 1, duration: 0.2, ease: "power4.inOut" })
		.to(
			"#frame11",
			{ opacity: 0, duration: 0.2, ease: "power4.inOut" },
			">",
		)

		.to(
			"#welcome",
			{
				opacity: 1,
				y: 0,
				duration: 7,
				ease: "power1.out",
			},
			1,
		)
		.to(
			"#overlay",
			{
				opacity: 0.8,
				duration: 6,
				ease: "power4.out",
			},
			3,
		);
</script>
